<div fxLayout="row" fxLayoutGap="10px" class="parent">
    <div fxFlex="75%" class="left">
        <p-card header="Cytocape Graph" [style]="{'width': '100%', 'height':'450px'}" styleClass="panel-background">
            <div #cyvpn [className]="'cy'" (click)="evtListener()"></div>
        </p-card>
    </div>
    <div fxFlex="25%" class="right">
        <hr>
        <div *ngIf="showNode">
        <p>Node Infomation:</p>
        <p>Node ID: {{selectNode?.id}}</p>
        <p>Node Name: {{selectNode?.value}}</p>
        <p>Node Value: {{selectNode?.name}}</p>
        <p>Node's Parent: {{selectNode?.parent}}</p>
        <hr>
        </div>
        <div *ngIf="!showNode">
        <p>Edge Infomation:</p>
        <p>Edge Source: {{selectEdge?.source}}</p>
        <p>Edge target: {{selectEdge?.target}}</p>
        <p>gini_t_port: {{selectEdge?.gini_t_port}}</p>
        <p>signature: {{selectEdge?.signature}}</p>
        <p>unique_t_port_count: {{selectEdge?.unique_t_port_count}}</p>
        <p>signature_id: {{selectEdge?.signature_id}}</p>
        <p>span: {{selectEdge?.span}}</p>
        <p>unique_s_port_count: {{selectEdge?.unique_s_port_count}}</p>
        <p>dispersion: {{selectEdge?.dispersion}}</p>
        <p>final_score: {{selectEdge?.final_score}}</p>
        <p>key: {{selectEdge?.key}}</p>
        <hr>
        </div>
    </div>
</div>