<div class="container">

  <!-- <h4> {{title}} </h4> -->

  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    <mat-tab label="Graph List">
      <!-- Show the subgraph and group -->
    <table style="width:100%">
    
      <tbody>
        <tr>
          <app-cytoscape #cygraph (parentFun)="parentFun($event)"></app-cytoscape>
        </tr>
        
        <tr>
          <hr>
        </tr>

        <tr>
          <div fxLayout="row" fxLayoutGap="10px" class="parent">
    
            <div fxFlex="15%" class="left">
    
              <select (change)="selectChangeHandler($event)" >
                <option value="snort">Snort Graph</option>
                <option value="windows">Windows Graph</option>
                <option value="fortinet">Fortinet Graph</option>
              </select>
    
              <p><span>You selected: </span><b>{{selectedgraph}}</b></p>

              <jqxGrid #nodeGrid (onRowselect)="selectRow($event)" (onRowunselect)="selectRow($event)"
                [selectionmode]="'checkbox'" [source]="subgrapSrc" [width]="'100%'" [height]="'280px'" [theme]="'metrodark'"
                [pageable]="true" [altrows]="true" [filterable]="true" [sortable]="true" [columns]="subgrapColumns" >
              </jqxGrid>

            </div>
    
            <div fxFlex="85%" class="right">
              <jqxGrid [selectionmode]="'checkbox'" [source]="edgesSrc" [width]="'100%'" [theme]="'metrodark'"
                [height]="'100%'" [pageable]="true" [altrows]="true" [filterable]="true" [sortable]="true"
                [columns]="edgesWColumns" #grid>
              </jqxGrid>
            </div>

          </div>
        </tr>
      </tbody>

    </table>
    
    </mat-tab>
    
    <mat-tab label="Snort List"> Snort List Idx = 1
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>gini_t_port</th>
            <th>signature</th>
            <th>unique_t_port_count</th>
            <th>gini_s_port</th>
            <th>signature_id</th>
            <th>span</th>
            <th>unique_s_port_count</th>
            <th>dispersion</th>
            <th>final_score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdatas">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.final_score }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Windows List"> Windows List Idx = 1
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>unique_t_port_count</th>
            <th>dispersion</th>
            <th>gini_t_port</th>
            <th>final_score</th>
            <th>signature</th>
            <th>unique_s_port_count</th>
            <th>span</th>
            <th>signature_id</th>
            <th>gini_s_port</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdataw">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.unique_t_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.final_score }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Fortinet List"> Fortinet List Idx = 0
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>gini_t_port</th>
            <th>signature</th>
            <th>unique_t_port_count</th>
            <th>gini_s_port</th>
            <th>signature_id</th>
            <th>span</th>
            <th>unique_s_port_count</th>
            <th>dispersion</th>
            <th>final_score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdataf">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.final_score }}</td>
          </tr>
        </tbody>
      </table>

    </mat-tab>



    <mat-tab label="Graph List"> Content 3
      <hr>
      <hello-world></hello-world>

      <hr>
      <app-nodedetail></app-nodedetail>
    </mat-tab>
  </mat-tab-group>

</div>