<div class="container">

  <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)">
    
    <!-- 1. Main landing page -->
    <mat-tab label="Subgraph Page">
      <!-- Show the subgraph and group in table -->
        
      <div fxLayout="row" fxLayoutGap="10px" class="parent">
      
        <div fxFlex="75%" class="left">
          <app-cytoscape #cygraph (parentFun)="parentFun($event)"></app-cytoscape>
        </div>
      
        <div fxFlex="25%" class="right">
          <select (change)="selectChangeHandler($event)">
            <option value="snort">Snort Subgraphs</option>
            <option value="windows">Windows Subgraphs</option>
            <option value="fortinet">Fortinet Subgraphs</option>
            <option value="linked">Linked Subgraphs</option>
          </select>
          <p> </p>
          <table style="border-spacing: 1px;">
            <tr>
              <td>Graph Filter:</td>
              <td> 
                <select (change)="selectFilterHandler($event)">
                  <option value="none"> </option>
                  <option value="nodeIP">Node IP</option>
                  <option value="score">Score</option>
                  <option value="consequences">Consequences</option>
                </select>
              </td>
              <td> <input [value]="filterStrExpl" type="text" #subgraphIPfilter> </td>
              <td> <button (click)="onSubGraphFilter(subgraphIPfilter.value)"> Query </button></td>
            </tr>
          </table>


          <!-- <mat-progress-bar mode="{{loadProMode}}" value="100"></mat-progress-bar> -->
          <!-- <p><span>You selected: </span><b>{{selectedgraph}}</b></p> -->
          <jqxGrid #nodeGrid (onRowselect)="selectRow($event)" [source]="subgrapSrc" [width]="'100%'" [height]="'300px'"
            [theme]="'metrodark'" [pageable]="true" [altrows]="true" [filterable]="true" [sortable]="true"
            [columns]="subgrapColumns" [rowdetails]="true" [initrowdetails]="initrowdetails"
            [rowdetailstemplate]="rowdetailstemplate">
          </jqxGrid>


          <mat-tab-group>
            <mat-tab label="Graph Nodes" style="width: 50px;">
              <jqxGrid [source]="nodesSrc" [width]="'100%'" [theme]="'metrodark'" [height]="'560px'" [pageable]="true"
                [altrows]="true" [filterable]="true" [sortable]="true" [columns]="nodesLColums" #grid>
              </jqxGrid>
            </mat-tab>
            <mat-tab label="Graph Edges" style="min-width: 50px;">
              <jqxGrid #edgeGrid (onRowselect)="selectEdgeRow($event)" [source]="edgesSrc" [width]="'100%'" [theme]="'metrodark'"
                [height]="'560px'" [pageable]="true" [altrows]="true" [filterable]="true" [sortable]="true"
                [columns]="edgesWColumns" [rowdetails]="true" [initrowdetails]="initedgedetails"
                [rowdetailstemplate]="edgedetailstemplate">
              </jqxGrid>
            </mat-tab>
          
            <mat-tab label="Filter Config" style="min-width: 50px;">
              <table> 

                <tr> 
                  <td>
                    Search Range: 
                  </td>
                    <!-- <select>
                      <option value="nodes">All Subgraphs</option>
                      <option value="edges">Subgraph[G0]</option>
                    </select> -->
                    <td>
                      {{subGpar}}
                    </td>
                </tr>

                <tr>
                  <td>
                    Filter target:
                  </td>
                  <td>
                    <select (change)="filterSelHandler($event)">
                      <option value="null">  </option>
                      <option value="nodes">Node ID</option>
                      <option value="edges">Edges Signature</option>
                    </select>
                  </td>

                </tr>
                
<!--                 <tr>
                  <td>
                    Filter field:
                  </td>
                  <td>
                    <div *ngIf="selectedfilter==='nodes'">
                      <select (change)="filterCatHandler($event)">
                        <option value="null"> </option>
                        <option value="id">Node ID</option>
                        <option value="type">Type</option>
                        <option value="country">Country Code</option>
                      </select>
                    </div>

                    <div *ngIf="selectedfilter==='edges'">
                      <select (change)="filterCatHandler($event)">
                        <option value="null"> </option>
                        <option value="source">Source</option>
                        <option value="target">Target</option>
                        <option value="signature">Signature</option>
                      </select>
                    </div>
                  </td>
                </tr> -->

                <tr>
                  <td>
                    Filter value:
                  </td>
                  <td>
                      <input type="text" #filterValue>
                  </td>
                  
                  <td>
                    <div *ngIf="selectedfilter!=='null'">
                      <!-- <button (click)="onRebuild(filterValue.value)"> Query</button> -->
                      <button (click)="rebuildFiltergraph(filterValue.value)"> Query</button>
                    </div>
                  </td>
                </tr>
              </table>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

    </mat-tab>

    <!-- 2. Node Detail page -->
    <mat-tab label="Node Detail Information ">
      <table style="width:100%">
        <tbody>
          <tr>
            <div fxLayout="row" fxLayoutGap="10px" class="parent">
              <div fxFlex="75%" class="left">
                <app-nodedetail #nodegraph></app-nodedetail>
              </div>
      
              <div fxFlex="25%" class="right">
                <hr>
                <!-- <h4> Node [{{selectednodeID}}] Parent Subgraphs Table</h4> -->
                <h4> Subgraphs Table</h4>
                <hr>
                <jqxGrid #subGrid [source]="nodePrtSrc" [width]="'100%'" [theme]="'metrodark'" [height]="'80%'"
                  [pageable]="true" [altrows]="true" [filterable]="true" [sortable]="true" [columns]="subgraphsWColumns"
                  [rowdetails]="true" [initrowdetails]="initrowdetails" [rowdetailstemplate]="rowdetailstemplate"
                  >
                </jqxGrid>
                <p> <b>Edges label : </b> 
                <select (change)="selectEdgeLabel($event)">
                  <option value="none">No Label</option>
                  <option value="sig"> Signature</option>
                  <option value="score"> Final score</option>
                </select>
                </p>
                
              </div>
            </div>
          </tr>
          
          <hr>
          
          <tr>
            <div fxLayout="row" fxLayoutGap="10px" class="parent">
              <div fxFlex="25%" class="left">
                Nodes Connected to Node [{{selectednodeID}}]:<br><br>
                <jqxGrid [source]="nodeRelSrc" [width]="'100%'" [theme]="'metrodark'" [height]="'300px'" [pageable]="true" [altrows]="true"
                  [filterable]="true" [sortable]="true" [columns]="nodesWColumns" #grid>
                </jqxGrid>
              </div>
      
              <div fxFlex="75%" class="right">
                Edges From/To Node [{{selectednodeID}}]: <br><br>
                <jqxGrid [source]="edgeRelSrc" [width]="'100%'" [theme]="'metrodark'" [height]="'300px'" [pageable]="true" [altrows]="true"
                  [filterable]="true" [sortable]="true" [columns]="edgesWColumns" #grid>
                </jqxGrid>
              </div>
            </div>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Snort Data List"> Snort List Idx = 1
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>gini_t_port</th>
            <th>signature</th>
            <th>unique_t_port_count</th>
            <th>gini_s_port</th>
            <th>signature_id</th>
            <th>span</th>
            <th>unique_s_port_count</th>
            <th>dispersion</th>
            <th>final_score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdatas">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.final_score }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Windows Data List"> Windows List Idx = 1
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>unique_t_port_count</th>
            <th>dispersion</th>
            <th>gini_t_port</th>
            <th>final_score</th>
            <th>signature</th>
            <th>unique_s_port_count</th>
            <th>span</th>
            <th>signature_id</th>
            <th>gini_s_port</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdataw">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.unique_t_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.final_score }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
          </tr>
        </tbody>
      </table>
    </mat-tab>

    <mat-tab label="Fortinet Data List"> Fortinet List Idx = 0
      <hr>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>source</th>
            <th>target</th>
            <th>gini_t_port</th>
            <th>signature</th>
            <th>unique_t_port_count</th>
            <th>gini_s_port</th>
            <th>signature_id</th>
            <th>span</th>
            <th>unique_s_port_count</th>
            <th>dispersion</th>
            <th>final_score</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let networkdata of networkdataf">
            <td>{{ networkdata.source }}</td>
            <td>{{ networkdata.target }}</td>
            <td>{{ networkdata.gini_t_port }}</td>
            <td>{{ networkdata.signature }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.gini_s_port }}</td>
            <td>{{ networkdata.signature_id }}</td>
            <td>{{ networkdata.span }}</td>
            <td>{{ networkdata.unique_s_port_count }}</td>
            <td>{{ networkdata.dispersion }}</td>
            <td>{{ networkdata.final_score }}</td>
          </tr>
        </tbody>
      </table>

    </mat-tab>

  </mat-tab-group>

</div>