<mat-card (click)="showPopupDialog()" style="width: 420px; height:300px; margin: 2px; cursor: pointer;">
    <img src={{secIconPath}} style=" position: absolute; top:10px; left:10px; width:30px; height:30px; float:left"
        mat-raised-button matTooltip="Info about the sector[place hoder]"
        aria-label="Button that displays a tooltip when focused or hovered over">
    <img src={{malIconPath}} style=" position: absolute; bottom:70px; left:10px; width:20px; height:20px; float:left">
    <img src={{intIconPath}} style=" position: absolute; bottom:40px; left:10px; width:20px; height:20px; float:left">
    <div id={{customTitle}} style=" position: relative;  display: block; width: 100%; height: 95%;"></div>
</mat-card>