<mat-card (click)="showPopupDialog()" style="width: 100%; height:300px; margin: 0; padding: 0; cursor: pointer;">
    <img src={{secIconPath}} style=" position: absolute; top:10px; left:10px; width:30px; height:30px; float:left"
        mat-raised-button matTooltip="Info about the sector[place hoder]"
        aria-label="Button that displays a tooltip when focused or hovered over">
    <div id={{customTitle}} style=" position: relative;  display: block; width: 100%; height: 95%;"></div>
</mat-card>