@import 'tippy.js/dist/tippy.css';
@import 'tippy.js/themes/light.css';

// make the page can scroll down.
::ng-deep .scroll-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  // scroll-behavior: smooth;
}

::ng-deep .overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}

::ng-deep .popup {
  margin: 200px auto;
  padding: 15px;
  background: #203848;
  border-radius: 5px;
  width: 50%;
  // height: 60%;
  height: 400px;
  position: relative;
  transition: all 5s ease-in-out;
}

::ng-deep .popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

::ng-deep .popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}

::ng-deep .popup .content {
  max-height: 30%;
  overflow: auto;
}
